@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased bg-[#020617] text-slate-300;
    }
}

.neo-card {
    @apply bg-slate-900/50 backdrop-blur-2xl border border-white/5 rounded-2xl p-6 hover:border-brand/50 hover:shadow-brand transition-all duration-500;
}

.glow-text {
    @apply text-brand drop-shadow-brand;
}

.circuit-bg {
    background-image:
        radial-gradient(circle at 2px 2px, rgba(0, 242, 255, 0.05) 1px, transparent 0);
    background-size: 24px 24px;
}